<div id="<%= dom_id part %>">
  <p>
    <strong>Name:</strong>
    <%= part.name %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= part.product_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= part.weight %>
  </p>

  <p>
    <strong>Dimensions:</strong>
    <%= part.dimensions %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= part.vendor_id %>
  </p>

  <p>
    <strong>Ship date:</strong>
    <%= part.ship_date %>
  </p>

</div>
