<h1>Parts</h1>

<div id="parts" style="overflow-x: auto">
  <table style="white-space: nowrap">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Product Id</th>
      <th>Weight</th>
      <th>Dimensions</th>
      <th>Vendor</th>
      <th>Ship date</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td> <%= part.id %></td>
        <td> <%= part.name %></td>
        <td> <%= part.product_id %></td>
        <td> <%= part.weight %></td>
        <td> <%= part.dimensions %></td>
        <td> <%= part.vendor_id %></td>
        <td> <%= part.ship_date %></td>
        <td> <%= link_to 'Show', part %></td>
        <td> <%= link_to 'Edit', edit_part_path(part) %></td>
        <td> <%= link_to 'Destroy', part, method: :delete, confirm: 'Are you sure?' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New part", new_part_path %>
