<%= form_with(model: factory) do |form| %>
  <% if factory.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(factory.errors.count, "error") %> prohibited this factory from being saved:</h2>

      <ul>
        <% factory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, required: true%>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :director_name, style: "display: block" %>
    <%= form.text_field :director_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
