<div id="<%= dom_id vendor %>">
  <p>
    <strong>Name:</strong>
    <%= vendor.name %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= vendor.region %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= vendor.address %>
  </p>

  <p>
    <strong>Director name:</strong>
    <%= vendor.director_name %>
  </p>

</div>
