<div id="<%= dom_id product %>">
  <p>
    <strong>Factory:</strong>
    <%= product.factory_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= product.department_id %>
  </p>

  <p>
    <strong>Technology:</strong>
    <%= product.technology_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= product.designation %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= product.weight %>
  </p>

</div>
